*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 1.15; 
}

body {
  margin: 0;
  font: 16px $quicksand-font;
  font-display: swap;
  color: $text-color-main;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include mq(desktop, 'min-width') {
    font: 16px $quicksand-font;
  }

  @include mq(large, 'min-width') {
    font: 18px $quicksand-font;
  }
}

main {
  display: block;
}

img,
video {
  display: block;
  max-width: 100%;
}
