.btn {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  border-radius: 25px;
  letter-spacing: 1px;
  color: white;
  font-family: $quicksand-font;
  font-weight: 700;
  letter-spacing: 0.15em;
  cursor: pointer;
  border: 0;
  box-shadow: 0 2px 0 rgba($shadow-color, 0.25);
}

.btn--color-a {
  background: $color-primary;

  &:hover {
    background: darken($color-primary, 8%);
  }
}

.btn--color-b {
  background: $color-neon-coral;

  &:hover {
    background: darken($color-neon-coral, 8%);
  }
}

.btn--color-c {
  background: $color-mustard;

  &:hover {
    background: darken($color-mustard, 8%);
  }
}

.btn--color-d {
  background: $color-cyber-grape;

  &:hover {
    background: darken($color-cyber-grape, 8%);
  }
}

.btn--sm {
  padding: 12px 40px;
  font-size: .7rem;
}

.btn--md {
  padding: 17px 50px;
  font-size: .75rem;
}

.btn--lg {
  padding: 20px 60px;
  font-size: 1rem;
}
