// Font Stack
$quicksand-font: 'Quicksand', sans-serif;

// Colors
$color-primary: #00C9A2; // Green
$color-neon-coral: #d1395d; // Red
$color-mustard: #eab93f; // Yellow
$color-cyber-grape: #3a3a75; // Purple
$color-navy-taupe: #16152b; // Very Dark Blue

$color-platinum: #f2f6f7;
$color-platinum-dark: #dae3e5;


$text-color-main: #2d2955; // Dark Purple
$text-color-light: #aaaaaa;
$text-color-mid: #666666;

// Grays
$gray-light-1: #efefef;
$gray-light-2: #b4c5cf;

// Darks
$shadow-color: rgba(0, 0, 0, 0.75);

// Layout
$container-width: 90%;
$container-max-width: 1120px;
$section-padding: 3em;
$container-small-max-width: 1500px;
$viewport-switch: calc(#{$container-max-width}/.9);

// Keyframes
@keyframes fade-in-1 {   
  0% {     
    opacity: 0;   
  }    
  100% {
    opacity: 1;
  }
}